<div ng-controller='indicatorController'>
  <form class="form-inline center">
    <div>
      <!-- Input Fields -->
      <input class='form-control' type='text' name='name' placeholder='Event' ng-model='inputName'/> 
      <input class='form-control' type='text' name='frequency' placeholder='Frequency/minute' ng-model='inputFrequency'/>
      <input class='form-control' colorpicker-position="bottom" colorpicker="rgb" type="text" placeholder="Background Color" ng-model="inputBackground"/>
      <input class='form-control' colorpicker-position="bottom" colorpicker="rgb" type="text" placeholder="Font Color" ng-model="inputFontColor"/>
      <!-- Display sample if name and frequency are entered -->
      <input ng-if='(inputName && inputFrequency)' class='btn btn-sm btn-primary' type='button' name='' value="That's Right!" ng-click='click(inputName, inputFrequency, inputBackground, inputFontColor)'>
    </div>
  </form>

  <!-- Display if frequency is blank -->
  <div ng-if='(inputName && inputFrequency)' class="container-fluid colWidth">
    <br/>
    <div class="col-xs-4 item" ng-style='{opacity: 0}'></div>
    <div class="col-xs-4 item" ng-class='happening' ng-style='{background: inputBackground, color: inputFontColor, textAlign: center}'>{{inputName | uppercase}} happens {{inputFrequency}} times a minute.</div>
    <div class="col-xs-4 item" ng-style='{opacity: 0}'></div>
  </div>

  <!-- Display if name and frequency are entered -->
  <div ng-if='(inputName && !inputFrequency)' class="container-fluid colWidth">
    <br/>
    <div class="col-xs-4 item" ng-style='{opacity: 0}'></div>
    <div class="col-xs-4 item" ng-class='happening' ng-style='{background: inputBackground, color: inputFontColor, textAlign: center}'>{{inputName | uppercase}} happens once every __ seconds.</div>
    <div class="col-xs-4 item" ng-style='{opacity: 0}'></div>
  </div>
</div>